<template>
  <ul>
    <li @click="changeFilter('all')">all</li>
    <li @click="changeFilter('active')">active</li>
    <li @click="changeFilter('completed')">completed</li>
  </ul>
</template>

<script>
  export default {
    props: ['defaultValue'],
    methods: {
      changeFilter(filter) {
        this.$emit('onchange', filter);
      },
    },
  };
</script>