<template>
  <div>
    <input type="text" v-model="v"/>
    <button @click="onSubmit(v)">Submit</button>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        v: undefined,
      };
    },
    methods: {
      onSubmit() {
        this.$emit('myvalue', {
          name: this.v,
          status: 'active',
        })
      },
    },
  };
</script>