<template>
  <ul>
    <li v-for="(item, index) in list">
      <span :class="item.status">{{ item.name }}</span>
      <a @click="remove(index)">X</a>
    </li>
  </ul>
</template>

<script>
  export default {
    props: ['list'],
    methods: {
      remove(index) {
        this.$emit('remove', index);
      },
    },
  };
</script>

<style>
  .active {
    font-weight: bold;
  }

  .completed {
    text-decoration: line-through;
  }
</style>