<template>
  <div id="app">
    <!-- SCSS -->
    <!--1. suppport embeded-->
    <!--2. support function-->
    <!--3. support variables-->
    <!-- TODOMVC -->

    <m-form @myvalue="onValue"></m-form>
    <m-todolist
        :list="filteredList"
        @remove="onRemove"></m-todolist>
    <span>{{ filteredList.length }} left</span>
    <m-filter
        :defaultValue="filter"
        @onchange="onFilter"></m-filter>
  </div>
</template>

<script>
  import _ from 'lodash';

  export default {
    name: 'app',
    data() {
      return {
        list: [
          { name: 'item 1', status: 'active' },
          { name: 'item 2', status: 'completed' },
          { name: 'item 3', status: 'completed' },
        ],
        filter: 'all',
      }
    },
    computed: {
      filteredList() {
        if (this.filter === 'all') {
          return this.list;
        } else {
          return _.filter(this.list, { status: this.filter })
        }
      },
    },
    methods: {
      onValue(value) {
        this.list.push(value);
      },
      onRemove(itemIndex) {
        this.list.splice(itemIndex, 1);
      },
      onFilter(filter) {
        this.filter = filter;
      },
    },
  }
</script>